*{
    margin: 0;
    padding: 0;
}

body{ 
    font-family: "Gabarito", sans-serif;
}
.navbar{
   padding: 10px;
   display: flex;
   justify-content: space-between;
   border-bottom: solid gray 2px;
   gap: 10px;
   position: sticky;
   top: 0;
   background-color: white;
   z-index: 1;
}
.navbar__s1__title{
    color: #a435f0;
    align-items: center;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    background-color: white;
}
.navbar__s2 input{
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}   
/* my learning-popup */

.mylearning1 {
    position: relative;
    cursor: pointer;
}

.mylearning2 {
    position: absolute;
    top: 30px;
    right: 0; /* More consistent than 100px */
    background-color: white;
    border: 1px solid black;
    width: 120px;
    font-size: 13px;
    padding: 10px;
    display: none;
    z-index: 10;  /* Prevents overlapping issues */
}

.mylearning1:hover .mylearning2 {
    display: block;
}


.categories{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: solid gray 1px;
    justify-content: space-around;
   
}
.categories p{
    background-color: #a435f0;
    color: white;
    border-radius: 30px;
    padding: 10px 15px;
}
.section-image{
    position: relative;
}
.section-image img{
    width: 100%;
    height: auto;
    margin-top: none;
}
.section-image__text{
    position: absolute;
    top: 15%;
    left: 5%;
    background-color: white;
     padding: 20px;
     border: solid black 3px;
}
.recommended{
    padding: 20px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}
.course-card{
    width: 300px;
    margin-bottom: 50px;
}
.course-card img{
    width: 100%;
    height: 180px;      /* FIXED height = all images look same */
    object-fit: cover;  /* Crops neatly without distortion */
    border-radius: 5px; /* optional, nicer look */
}



.course-del{
    color: gray;
    text-decoration: line-through;
    padding-left: 5px;
}
.course-del1{
    color: gray;
    text-decoration: line-through;
    padding-left: 5px;
}
.course-del2{
    color: gray;
    text-decoration: line-through;
    padding-left: 5px;
}
.course-del3{
    color: gray;
    text-decoration: line-through;
    padding-left: 5px;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
  border: solid gray 2px;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popular__container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.popular-card{
   width: 300px;
    margin-bottom: 50px;
}
.popular-card img {
    width: 100%;
    height: 180px;      /* FIXED height = all images look same */
    object-fit: cover;  /* Crops neatly without distortion */
    border-radius: 5px; /* optional, nicer look */
}
.footer{
    padding:30px;
    background-color:black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}